@keyframes rotating{
    from{
        transform:rotate(270deg);		/*0度*/
    }
    to{
        transform:rotate(400deg);
    }
}
#now{
    position: absolute;
    font-size: 50px;
    color: tomato;
    top: 30px;
    right: 20px;
}
#hh{
    position: relative;
    top: 5px;
}
#goal{
    position: absolute;
    font-size: 50px;
    color: tomato;
    top: 30px;
}
#num{
    position: relative;
    font-size: 50px;
    color: tomato;
    top: 50px;
}

#lue1{
    position: fixed;
    top: 70%;
    left: 10%;
    
}
#bg1{
    
    position:fixed;
    top: 0;
    left: 100;
    width:100%;
    height:100%;
    min-width: 1000px;
    z-index:-10;
    zoom: 1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
  }

#bgkuang{
    position:fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -9;
}
#hook1{
    position:fixed;
    top: 11%;
    left: 41%;
    display:block;
	width:200px;
	height:200px;
	margin:50px auto 0;
	animation:rotating 2s linear infinite alternate;
}
#player{
    position: fixed;
    top:10%;
    left: 45%;
}
#object2{
    position: fixed;
    top:80%;
    left: 65%;
}
#object4{
    position: fixed;
    top:70%;
    left: 25%;
}
#object3{
    position: fixed;
    top:60%;
    left: 25%;
}
#object5{
    position: fixed;
    top:50%;
    left: 75%;
}
#object1{
    position: fixed;
    top:85%;
    left: 55%;
}
#gift1{
    position: fixed;
    top:60%;
    left: 75%;
}